/* .App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #072227;
  
}

.showcase h1{
  padding-left: 75px;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.showcase{
  padding: 50px;
  border: 8px solid #24A19C;
  
  background: #325288;
}

button{
  width: 75px;
  height: 75px;
  margin: 2px;
  border: none;
  background-color: #AEFEFF;
}

button:hover{
  opacity: .9;
} */

.App{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#072227 ;
}

.showcase{
  border: 5px solid #24A19C;
  padding:50px;
  background:#325288;
}

.showcase h1{
  color: white;
  text-align: center;
}

.showcase button{
  padding:20px;
  margin:3px;
  background-color: #AEFEFF;
  border:none;
}